body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Zen Dots', cursive;
}

h1 {
  color: #66BFBF;
  font-size: 5.62rem;
  margin-top: 0px;
  margin: 0px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Zen Dots', cursive;
}

h3 {
  font-family: 'Zen Dots', cursive;
}

p {
  line-height: 1.5;
}

hr {
  border: dotted blue 6px;
  border-bottom: none;
  width: 10%;
  margin: 2.5% auto;
}

a {
  color: #11999E;
  font-family: 'Zen Dots', cursive;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.title2 {
  font-size: 250%;
}

.top {
  background-color: #EAF9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #d8e3e7;
  padding-bottom: 5%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2.5% 0 2.5%;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.programmer {
  position: relative;
  right: 26%;
  top: 28.5%;
  width: 10%;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.imgprofile {
  margin: 2% 0 2% 0;
  width: 200px;
  height: 200px;
}

.intro {
  width: 32.5%;
  margin: auto;
}

.skillimg {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

.table {
  margin-left: 15%;
  text-align: left;
  width: 25%;
  float: left;
}

.table2::after {
  float: right;
  clear: both;
  display: table;
  margin-left: 75%;
  width: 25%;
}

.table2 {
  text-align: left;
}

.proj1 {
  width: 15%;
  padding-right: 25%;
}

.proj2 {
  width: 15%;
}

.img1 {
  padding-right: 20%;
  width: 20%;
  height: 20%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Zen Dots', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.cpr {
  color: #EAF6F6;
}
